@font-face {
  font-family: "D2font";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/d2-light.woff2") format("woff");
  font-display: swap;
}

/* @font-face {
  font-family: "D2font";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/d2-heavy.woff2") format("woff");
  font-display: swap;
} */