[class^='icon-'],
[class*=' icon-'] {
  font-family: 'icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 100%;
}

.icon-plus:before {
  content: "\e900";
}
.icon-dash:before {
  content: "\e901";
}
.icon-arrow-up:before {
  content: "\e902";
}
.icon-arrow-right:before {
  content: "\e903";
}
.icon-arrow-down:before {
  content: "\e904";
}
.icon-arrow-left:before {
  content: "\e905";
}
.icon-close:before {
  content: "\e908";
}
.icon-check:before {
  content: "\e909";
}
.icon-search:before {
  content: "\e906";
}
.icon-info:before {
  content: "\e907";
}