.tooltip {
  &::before,
  &::after {
    display: none;
    position: absolute;
  }
  &::before {
    content: attr(data-tooltip);
    top: 0;
    left: 0;
    padding: 0.5em 0.75em;
    border-bottom: 1px solid $gold;
    background: darken($blue, 25%);
    box-shadow: 0 0 20px rgba(#000, 0.5), inset 0 -5px 20px rgba(#000, 0.5);
    color: $gold;
    font-style: italic;
    font-size: 1.4rem;
    text-align: center;
    transform: translateY(calc(-100% - 1rem));
    white-space: nowrap;
  }
  &::after {
    top: -1.4rem;
    left: 1rem;
    width: 7px;
    height: 7px;
    border-style: solid;
    border-color: $gold;
    border-width: 0 0 1px 1px;
    background: linear-gradient(45deg, darken($blue, 32%) 50%, transparent 50%);
    transform: rotate(-45deg);
  }
  &:not(&-focus):hover {
    &::before,
    &::after {
      display: block;
      animation: fadeIn $duration;
    }
  }
  &-focus {
    &:focus-within {
      &::before,
      &::after {
        display: block;
        animation: fadeIn $duration;
      }
    }
  }
  &-center {
    &::before {
      left: 50%;
      transform: translate(-50%, calc(-100% - 1rem));
    }
    &::after {
      left: 50%;
      transform: translateX(-50%) rotate(-45deg);
    }
  }
}
