//colors
$red: #771200;
$gold: #927946;
$blue: #344eac;
// $blue: #3A57BC;
$green: #54880f;

$clr-facebook: #4267B2;
$clr-instagram: #555;
$clr-instagram-gradient: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
$clr-whatsapp: #01ff83;

//default transition time duration
$duration: .25s;

//default grid layout gap
$gap: .5rem;
