@use "../../assets/scss/abstracts/" as *;

.planner {
  .stage-quests {
    margin-top: 2em;
    %quests-hover-effect {
      user-select: none;
      transition: $duration;
      &:hover {
        cursor: pointer;
        color: lighten($gold, 25%);
        text-shadow: 0 0 10px rgba($gold, 0.5);
      }
    }
    .quests-list {
      padding: 0 0.7em 0.7em;
      background: rgba(#000, 0.3);
      .list-item {
        display: grid;
        grid-template-columns: 1.5fr 0.7fr 1fr 0.5fr;
        &:not(:first-child) {
          margin-top: 1em;
        }
        .item-description {
          color: $gold;
          .desc-name {
            display: flex;
            align-items: center;
            margin-bottom: 0.3em;
            font-size: 1.4rem;
          }
          .desc-details {
            display: block;
            color: $blue;
            font-size: 1.2rem;
            font-style: italic;
          }
          @extend %quests-hover-effect;
        }
        .item-difficulty {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        &.list-head {
          margin-bottom: 0.5em;
          padding: 0.7em 0 0.5em;
          border-bottom: 1px solid $gold;
          color: $gold;
          font-family: $d2font;
          font-size: 1.6rem;
          font-weight: bold;
          text-align: center;
          text-transform: uppercase;
          letter-spacing: -0.05em;
          .item-difficulty {
            @extend %quests-hover-effect;
          }
        }
      }
    }
    .quests-toggle-controller {
      margin-top: 1.5em;
      color: $gold;
      text-align: center;
      user-select: none;
      input {
        margin-right: 0.5em;
      }
    }
  }
}
