@use '../abstracts/vars' as *;

*,
::before,
::after {
  box-sizing: border-box;
  outline: none;
  color: inherit;
  font-family: inherit;
}
:root {
  font-size: 62.5%;
  line-height: 1.15;
}
body {
  background: #000;
  color: #ddd;
  font-family: "Spectral", Arial, sans-serif;
  font-size: 1.6rem;
}
:where(body, button, ul, figure, h1, h2, h3, h4, h5, h6) {
  margin: 0;
  padding: 0;
}

:where(h1, h2, h3, h4, h5, h6) {
  font-family: "Exocet Light", Arial, sans-serif;
}

ul {
  list-style: none;
}
button {
  background: transparent;
  border: 0;
}
:where(a, button, label) {
  cursor: pointer;
  transition-property: background-color;
  transition-duration: $duration;
}
input[type="checkbox"] {
  margin: .15em .5em 0 0;
}
a {
  display: inline-block;
  text-decoration: none;
  transition: 0.35s;
}
:where(a, figure) {
  img {
    display: block;
    border: 0;
  }
}
table {
  border-collapse: collapse;
}
