@use '../assets/scss/abstracts/' as *;

.planner {
  margin: 0 auto;
  max-width: 666px;
  .planner-tabs {
    display: flex;
    margin-bottom: -2px;
    .tab {
      display: flex;
      flex: auto;
      align-items: center;
      justify-content: center;
      padding: 1em 0;
      color: $gold;
      text-align: center;
      font-family: "Exocet Light";
      cursor: default;
      &:not(:first-child) {
        margin-left: $gap;
      }
      &:not(.active) {
        margin-top: $gap;
        margin-bottom: $gap;
        background: darken($blue, 35%);
        box-shadow: inset 0 -5px 10px rgba(#000, 0.2);
        font-size: 1.2rem;
        &:not(.active) {
          cursor: pointer;
          transition-duration: $duration;
          transition-property: background-color, box-shadow;
          &:hover {
            background: darken($blue, 32%);
            box-shadow: inset 0 -5px 15px rgba(#000, 0.6);
          }
        }
      }
      &.active {
        border-bottom: 2px solid $gold;
        box-shadow: inset 0 -3px 15px rgba(#000, 0.5);
        background: darken($red, 10%);
        font-size: 1.6rem;
        @include pseudo(after);
        &::after {
          top: calc(100% - 3px);
          height: 0;
          width: 0;
          border-top: 5px solid $gold;
          border-right: 5px solid darken($gold, 20%);
          border-bottom: 5px solid transparent;
          border-left: 5px solid transparent;
          transform: rotate(135deg);
        }
      }
    }
  }
  .planner-stages {
    padding: 2rem 2rem 4rem;
    background: rgba(#000, 0.3);
    border: solid darken($red, 10%);
    border-width: 2px 0;
    .stage {
      &:not(.active) {
        display: none;
      }
      .stage-title {
        margin: 1em 0;
        color: $gold;
        text-align: center;
        font-size: 2.2rem;
        & + .stage-desc {
          margin-top: -1em;
        }
      }
      .stage-desc {
        text-align: center;
        font-size: 1.4rem;
      }
    }
  }
}
