@use "../../assets/scss/abstracts/" as *;

%stage-one {
  .stage-character-setup {
    .setup-container {
      @include grix(2, $gap);
      .cont-stats {
        .stat-points {
          font-size: 1.4rem;
          text-align: center;
          .points-remaining {
            color: $gold;
            font-family: $d2font;
            font-size: 2.2rem;
          }
        }
        .stat-attrs {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          .attr-frame {
            display: flex;
            flex-direction: column;
            padding: 0.25em;
            border: 2px solid;
            border-color: $gold darken($gold, 15%) darken($gold, 25%);
            .frame-label {
            }
            .frame-result {
              flex: 1;
              display: flex;
              align-items: center;
              justify-content: center;
              color: $gold;
              background: rgba(#000, 0.3);
              box-shadow: inset 0 0 15px rgba(#000, 0.5);
              font-family: $d2font;
              font-size: 4.5rem;
              font-weight: bold;
              text-align: center;
              letter-spacing: -0.15em;
              text-indent: -0.15em;
            }
          }
        }
      }
    }
  }
  .stage-points-remaining {
    display: flex;
    align-items: center;
    justify-content: center;
    .result {
      margin: 0 0.3em;
      color: $gold;
      font-size: 3rem;
      font-family: $d2font;
    }
  }
}
