@use "../abstracts/" as *;

.main {
  padding: 3em;
  margin: 0 auto;
  max-width: 666px;
  box-shadow: 0 0 150px rgba($red, 0.4);
  @include pseudo(before, after);
  &::before {
    background: url("../../images/deamon-box-bg.png") center;
    inset: 0;
    z-index: -2;
  }
  &::after {
    border: 4px solid;
    border-color: $red darken($red, 10%) darken($red, 15%);
    box-shadow: 0 0 30px #000, inset 0 0 60px #000;
    background-size: contain;
    inset: 1.5rem;
    z-index: -1;
  }
  .main-head-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5em 0;
    text-align: center;
    text-shadow: 0 3px 7px #000;
    white-space: nowrap;
    &:first-child {
      margin-top: 0.5em;
    }
    @include pseudo(before, after);
    &::before,
    &::after {
      top: 50%;
      position: relative;
      width: 100%;
      height: 4px;
      background: linear-gradient($gold 50%, darken($gold, 25%) 50%);
    }
    &::before {
      margin-right: 1em;
    }
    &::after {
      margin-left: 1em;
    }
  }
  .main-sec-title {
    margin: 1em 0;
    color: $gold;
    text-align: center;
    font-size: 2.2rem;
    & + .main-sec-description {
      margin-top: -1.2em;
    }
  }
  .main-sec-description {
    text-align: center;
    font-size: 1.4rem;
  }  
  .main-tabs {
    display: flex;
    margin-bottom: -2px;
    .tab {
      display: flex;
      flex: auto;
      align-items: center;
      justify-content: center;
      padding: 0.75em 0;
      color: $gold;
      text-align: center;
      font-family: $d2font;
      cursor: default;
      &:not(:first-child) {
        margin-left: $gap;
      }
      &:not(.active) {
        margin-top: $gap;
        margin-bottom: $gap;
        background: darken($blue, 35%);
        box-shadow: inset 0 -5px 10px rgba(#000, 0.2);
        font-size: 1.6rem;
        &:not(.active) {
          cursor: pointer;
          transition-duration: $duration;
          transition-property: background-color, box-shadow;
          &:hover {
            background: darken($blue, 30%);
            box-shadow: inset 0 -5px 15px rgba(#000, 0.6);
          }
        }
      }
      &.active {
        border-bottom: 2px solid $gold;
        box-shadow: inset 0 -3px 15px rgba(#000, 0.5);
        background: darken($red, 10%);
        font-size: 2rem;
        font-weight: bold;
        @include pseudo(after);
        &::after {
          top: calc(100% - 3px);
          height: 0;
          width: 0;
          border-top: 5px solid $gold;
          border-right: 5px solid darken($gold, 20%);
          border-bottom: 5px solid transparent;
          border-left: 5px solid transparent;
          transform: rotate(135deg);
        }
      }
    }
  }
  .main-tabs-stages {
    padding: 2rem 2rem 4rem;
    background: rgba(#000, 0.3);
    border: solid darken($red, 10%);
    border-width: 2px 0;
    .stage {
      &:not(.active) {
        display: none;
      }
      //@extend %stage-one;
    }
  }
}
