@use '../abstracts/' as *;

.devil-box {
  padding: 3em;
  box-shadow: 0 0 150px rgba($red, 0.4);
  @include pseudo(before, after);
  &::before {
    background: url("../../images/deamon-box-bg.png") center;
    inset: 0;
    z-index: -2;
  }
  &::after {
    border: 4px solid;
    border-color: $red darken($red, 10%) darken($red, 15%);
    box-shadow: 0 0 30px #000, inset 0 0 60px #000;
    background-size: contain;
    inset: 1.5rem;
    z-index: -1;
  }
  .box-main-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5em 0;
    text-align: center;
    text-shadow: 0 3px 7px #000;
    white-space: nowrap;
    &:first-child{
      margin-top: 0;
    }
    @include pseudo(before, after);
    &::before,
    &::after {
      top: 50%;
      position: relative;
      width: 100%;
      height: 4px;
      background: linear-gradient($gold 50%, darken($gold, 25%) 50%);
    }
    &::before {
      margin-right: 1em;
    }
    &::after {
      margin-left: 1em;
    }
  }
}