@use "../../assets/scss/abstracts/" as *;

.planner {
  .stage-character-level {
    display: flex;
    justify-content: center;
    min-height: 10em;
    .level-container {
      min-width: 7em;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .btn {
      margin-top: 0.5em;
      width: 100%;
    }
  }
}
